<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<section>
		<div class="backimg">
			<p class="fs-1 text-center text-white p-5">Admin Dashboard</p>
		</div>
		<div class="container">
			<div class="row p-3">
				<div class="col-md-4 text-center">
					<a th:href="@{/admin/addHome}" class="text-decoration-none">
						<div class="card paint-card">
							<div class="card-body">
								<i class="fa-solid fa-house-user fa-2x"></i>
								<p class="fs-1">Add Property</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 text-center">
					<a th:href="@{/admin/viewHome}" class="text-decoration-none">
						<div class="card paint-card">
							<div class="card-body">
								<i class="fa-solid fa-house-user fa-2x"></i>
								<p class="fs-1">View Property</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center">
					<a th:href="@{/admin/viewUser}" class="text-decoration-none">
						<div class="card paint-card">
							<div class="card-body">
								<i class="fa-solid fa-user fa-2x"></i>
								<p class="fs-1">User</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		
		<div class="bg-primary p-2" style="margin-top: 120px">
			<p class="text-center text-white">@copyright reserverd by
				realestate.com</p>
		</div>
		
	</section>
</body>
</html>