<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="electrician/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container p-4">
			<div class="row">

				<div class="card paint-card">
					<div class="card-body">
						<p class="text-center fs-1 text-danger">View Booking</p>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Sl No</th>
									<th scope="col">Electrician Name</th>
									<th scope="col">Customer Name</th>
									<th scope="col">Mobile Number</th>
									<th scope="col">Email</th>
									<th scope="col">Booking Date</th>
									<th scope="col">Address</th>


								</tr>
							</thead>
							<tbody>
								<tr th:each="b,c:${list}">
									<th scope="row">[[${c.count}]]</th>
									<td>[[${user.firstName+' '+user.lastName}]]</td>
									<td>[[${b.customerName}]]</td>
									<td>[[${b.mobNo}]]</td>
									<td>[[${b.email}]]</td>
									<td>[[${b.date}]]</td>
									<td>[[${b.address}]]</td>

								</tr>

							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>