<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<section>
		<div class="container mt-5 p-1 ">
			<div class="row mycard">
				<div class="col-md-6 p-0 m-0">
					<img alt="" src="img/ss1.png" style="width: 100%; height: 100%">
				</div>
				<div class="col-md-6   border-top">
					<div class="card border-0">
						<div class="card-body">
							<form th:action="@{/login}" class="mt-4" method="post">
								<h3 class="text-center text-success">Login</h3>
								<div th:if="${param.error}" class="alert alert-danger">
									<p class="text-center">Invalid Email & Password</p></div>
								<div th:if="${param.logout}" class="alert alert-success">
									Logout Sucessfully</div>
								<div class="form-group">
									<label>Enter Email</label> <input type="email" name="username" required
										class="form-control">
								</div>
								<div class="form-group mt-2">
									<label>Enter Password</label> <input type="password" required
										name="password" class="form-control">
								</div>
								<div class="text-center mt-3">
									<button class="btn btn-success col-md-4">Login</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-light p-1" style="margin-top: 120px;">
			<p class="text-success text-center">@Copyright 2021 Online Survey
				System</p>
		</div>


	</section>
</body>
</html>