<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<section>
		<div class="container">
			<p class="text-center fs-1">Employee Dashboard</p>
		</div>
		<div class="text-center">
			<img alt="" src="../img/emp5.png" style="width: 100%; height: 70vh">
		</div>




		<div class="bg-custom p-2 " style="margin-top: 150px">
			<p class="text-center text-white">@copyright reserverd by
				empsystem.com</p>
		</div>
	</section>
</body>
</html>