<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container p-3">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="card paint-card">
						<div class="card-body">
							<div class="text-center ">

								<i class="fas fa-user-circle fa-2x"></i><br>
								<p class="text-center fs-2">Edit Profile</p>
							</div>
							<form th:action="@{/admin/updateProfile}" method="post">

								<div th:if="${session.message}"
									th:classappend="${session.message.type}">
									<p class="fs-5 text-center"
										th:text="${session.message.content}"></p>
									<th:block th:text="${#session.removeAttribute('message')}"></th:block>
								</div>

								<div class="row">
									<div class="col">
										<label class="fw-bold">First Name</label> <input type="text" required
											name="firstName" class="form-control form-control-sm"
											th:value="${userdtls.firstName}">
									</div>
									<div class="col">
										<label class="fw-bold">Last Name</label> <input type="text" required
											name="lastName" class="form-control form-control-sm"
											th:value="${userdtls.lastName}">
									</div>

									<div class="col">
										<label class="fw-bold">DOB</label> <input type="date" required
											name="dob" class="form-control form-control-sm"
											th:value="${userdtls.dob}">
									</div>
								</div>
								<div class="row mt-3">

									<div class="col">
										<label class="fw-bold">Mobile No</label> <input type="text" required
											name="mobNo" class="form-control form-control-sm"
											th:value="${userdtls.mobNo}">
									</div>
									<div class="col">
										<label class="fw-bold">Email</label> <input type="text" required
											th:value="${userdtls.email}" name="email"
											class="form-control form-control-sm">
									</div>

									<div class="col">
										<label class="fw-bold">User Type</label> <select name="role"
											class="form-control form-control-sm">
											<option th:value="${userdtls.role}">[[${userdtls.role}]]</option>
											<option value="ROLE_ADMIN">ROLE_ADMIN</option>
											<option value="ROLE_USER">ROLE_USER</option>
										</select>
									</div>
								</div>

								<div class="form-group mt-3">
									<label class="fw-bold">Address</label>
									<textarea required rows="3" cols="" name="address" class="form-control">[[${userdtls.address}]]</textarea>

								</div>
								
								<input type="hidden" name="id" th:value="${userdtls.id}">
								
								
								<div class="text-center mt-3">
									<button class="btn btn-primary col-md-4">Update</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>