<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container p-4">
			<div class="row">

				<div class="col-md-12">
					<div class="card paint-card">
						<div class="card-body">
							<h3 class="text-center fs-1 text-success">All Recruiter</h3>
							<div th:if="${session.succMsg}" class="text-center">
								<h5 class="text-success fs-3" th:text="${session.succMsg}"></h5>
								<th:block th:text="${#session.removeAttribute('succMsg')}"></th:block>
							</div>

							<div th:if="${session.errorMsg}" class="text-center">
								<h5 class="text-danger fs-3" th:text="${session.errorMsg}"></h5>
								<th:block th:text="${#session.removeAttribute('errorMsg')}"></th:block>
							</div>
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Sl No</th>
										<th scope="col">Company Name</th>
										<th scope="col">Recruiter Name</th>
										<th scope="col">Address</th>
										<th scope="col">Mobile No</th>
										<th scope="col">Email id</th>
										<th scope="col">Status</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="r,c:${list}">
										<td>[[${c.count}]]</td>
										<td>[[${r.companyName}]]</td>
										<td>[[${r.name}]]</td>
										<td>[[${r.address}]]</td>
										<td>[[${r.mobNo}]]</td>
										<td>[[${r.email}]]</td>
										<td>[[${r.status}]]</td>
										<td><a th:href="@{'editRecruiter/'+${r.id}}"
											class="btn btn-sm btn-success"> Edit</a> <a
											th:href="@{'deleteRec/'+${r.id}}"
											class="btn btn-sm btn-danger"> Delete</a></td>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>