<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container p-5">
			<div class="row">

				<div class="col-md-6 offset-md-3">
					<div class="card paint-card">
						<div class="card-body">
							<p class="fs-4 text-center">Edit Profile Details</p>

							<form th:action="@{updateprofile}" class="mt-2" method="post"
								id="userRegister">
								
								<div class="row">
									<div class="col">
										<label>First Name</label> <input type="text" name="firstName"
											th:value="${user.firstName}" required
											class="form-control form-control-sm">
									</div>
									<div class="col">
										<label>Last Name</label> <input type="text" name="lastName"
											th:value="${user.lastName}" required
											class="form-control form-control-sm">
									</div>
								</div>
								<div class="row mt-3">
									<div class="col">
										<label>Email Id</label> <input type="text" name="email"
											readonly="readonly" th:value="${user.email}" required
											class="form-control form-control-sm">
									</div>
									<div class="col">
										<label>Mobile No</label> <input type="number" name="mobNo"
											th:value="${user.mobNo}" required
											class="form-control form-control-sm">
									</div>
								</div>

								<div class="form-group mt-3">
									<label>Address</label>
									<textarea required rows="3" cols="" class="form-control"
										name="address">[[${user.address}]]</textarea>

								</div>

								<input type="hidden" name="id" th:value="${user.id}">


								<button class="col-md-6 offset-md-3 mt-2 btn btn-primary">Upadate</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>