<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="manager/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="caontainer p-4">
			<div class="row">
				<div class="col-md-9 offset-md-1">
					<div class="card paint-card">
						<div class="card-body">
							<p class="text-center text-custom fs-1">View Leave Details</p>
							<div th:if="${session.succMsg}" class="text-center">
								<p class="text-success fs-3" th:text="${session.succMsg}"></p>
								<th:block th:text="${#session.removeAttribute('succMsg')}"></th:block>
							</div>

							<div th:if="${session.errorMsg}" class="text-center">
								<p class="text-danger fs-3" th:text="${session.errorMsg}"></p>
								<th:block th:text="${#session.removeAttribute('errorMsg')}"></th:block>
							</div>
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Sl No</th>
										<th scope="col">Emp Name</th>
										<th scope="col">Mob No</th>
										<th scope="col">Email</th>
										<th scope="col">From Date</th>
										<th scope="col">To Date</th>
										<th scope="col">Status</th>
										<th scope="col">Action</th>

									</tr>
								</thead>
								<tbody>


									<tr th:each="l,c:${list}">
										<td>[[${c.count}]]</td>
										<th:block th:with="em=${managerService.getEmpById(l.empId)}">
											<td>[[${em.firstName+' '+em.lastName}]]</td>
											<td>[[${em.mobNo}]]</td>
											<td>[[${em.email}]]</td>
										</th:block>
										<td>[[${l.fromDate}]]</td>
										<td>[[${l.toDate}]]</td>
										<td>[[${l.status}]]</td>
										<td>
										<th:block th:if="${l.status=='Pending'}"> 
										
										<a th:href="@{'/manager/leaveupdate/ac/'+${l.id}}"
											class="btn btn-sm btn-success">Accept</a> 
											
											<a
											th:href="@{'/manager/leaveupdate/re/'+${l.id}}"
											class="btn btn-sm btn-danger">Reject</a> </th:block>
										
										
										<th:block th:if="${l.status=='Approved'}"> 
											<a th:href="@{'/manager/leaveupdate/re/'+${l.id}}"
											class="btn btn-sm btn-danger">Reject</a>
										</th:block>
										
										<th:block th:if="${l.status=='Rejected'}">	
										<a th:href="@{'/manager/leaveupdate/ac/'+${l.id}}"
											class="btn btn-sm btn-success">Accept</a>  
										</th:block>
										
										</td>
									</tr>



								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>