<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row p-5">
				<div class="col-md-6 offset-md-3">
					<div class="my-card">
						<form class="form-signin" method="post" th:action="@{/login}">
							<h2 class="form-signin-heading text-center">Sign in</h2>

							<div th:if="${param.error}" class="alert alert-danger">
								Invalid username & Password</div>
							<div th:if="${param.logout}" class="alert alert-success">
								Logout Sucessfully</div>



							<p>
								<label for="username" class="sr-only">Username</label> <input
									type="text" id="username" name="username" class="form-control"
									placeholder="Username" required autofocus>
							</p>
							<p>
								<label for="password" class="sr-only">Password</label> <input
									type="password" id="password" name="password"
									class="form-control" placeholder="Password" required>
							</p>
							<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
								in</button>

							<div class="text-center">
								<a href="/signup">Create Account</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>