<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="hr/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>


		<div class="row">
			<div class="col-md-12">
				<div class="card paint-card">
					<div class="card-header text-center fs-5">View Project</div>
					<div class="card-body">

						<div th:if="${session.succMsg}" class="text-center">
							<p class="text-success fs-3" th:text="${session.succMsg}"></p>
							<th:block th:text="${#session.removeAttribute('succMsg')}"></th:block>
						</div>

						<div th:if="${session.errorMsg}" class="text-center">
							<p class="text-danger fs-3" th:text="${session.errorMsg}"></p>
							<th:block th:text="${#session.removeAttribute('errorMsg')}"></th:block>
						</div>
						<table class="table">
							<thead>
								<tr >
									<th scope="col">Sl No</th>
									<th scope="col">Project Name</th>
									<th scope="col">Project Type</th>
									<th scope="col">Manager</th>
									<th scope="col">Devloping Platform</th>
									<th scope="col">Database Technology</th>
									<th scope="col">Description</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>


								<tr th:each="p,c:${projectList}">
									<td>[[${c.count}]]</td>
									<td>[[${p.projectName}]]</td>
									<td>[[${p.projectType}]]</td>
									<td>[[${p.manager}]]</td>
									<td>[[${p.devlopingPlatform}]]</td>
									<td>[[${p.technology}]]</td>
									<td>[[${p.description}]]</td>
									<td class="d-flex"><a th:href="@{'editProject/'+${p.id}}"
										class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a> <a
										th:href="@{'/hr/deleteProject/'+${p.id}}"
										class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>