<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container p-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Forgot Password</div>
						<th:block th:if="${session.msg}">
							<p class="text-center fs-4 text-success">[[${session.msg}]]</p>
							<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
						</th:block>

						<div class="card-body">
							<form action="forgotPassword" method="post">

								<div class="mb-3">
									<label>Enter Email</label> <input type="text" name="email"
										class="form-control">
								</div>


								<div class="mb-3">
									<label>Enter Mobile Number</label> <input type="text"
										name="mobileNum" class="form-control">
								</div>
								<button class="btn btn-primary col-md-12">Submit</button>
							</form>

						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
</body>
</html>