<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container p-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Reset Password</div>


						<div class="card-body">
							<form action="/changePassword" method="post">

								<div class="mb-3">
									<label>Enter New Password</label> <input type="text"
										name="psw" class="form-control">
								</div>


								<div class="mb-3">
									<label>Enter Confirm Password</label> <input type="text"
										name="cpsw" class="form-control">
								</div>
								
								<input type="hidden" name="id" th:value="${id}">
								
								<button class="btn btn-primary col-md-12">Change Password</button>
							</form>

						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
</body>
</html>