.bg-card-color{
	background: #f0f1f2;
}
.bg-color {
	background:#e65100 !important;
}

.navbar .nav-item:hover .nav-link {
	background-color: white;
	border-radius: 10px;
	color: #01579b;
}

.navbar .nav-item .nav-link {
	font-size: 20px;
	color: white;
}

/* side bar */
@media only screen and (max-width:600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background-color: white;
		height: 100%;
		position: fixed;
		padding-top: 20px;
	}
	.content {
		margin-left: 0% !important;
	}
}

.sidebar {
	width: 18%;
	background-color: #e65100 !important;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 999999999999999999;
	
	
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color:white;
}

.sidebar a:hover {
	background-color: #e2e2e2;
	color: black;
}


.sidebar .divider {
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.content {
	margin-left: 20%;
}

.sidebar .crossBtn {
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}