<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid p-1">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card paint-card">
						<div class="card-body">
							<h4 class="form-signin-heading text-center">Edit Bag</h4>
							<form class="form-signin" method="post" th:action="@{/admin/updateBook}" enctype="multipart/form-data">

								
								<input type="hidden" name="id" th:value="${book.id}">
								
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">
										Title</label> <input type="text" class="form-control" required
										name="title" th:value="${book.title}">

								</div>

								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">
										Color</label> <input type="text" class="form-control" required
										name="color" th:value="${book.color}">

								</div>

								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">
										Description</label>
									<textarea rows="3" cols="" class="form-control"
										name="description" >[[${book.description}]]</textarea>

								</div>


								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">
										Category</label> <select name="categortId" class="form-control">
										<option th:value="${book.category.id}">[[${book.category.name}]]</option>
										<th:block th:each="cat:${category}">
											<option th:value="${cat.id}">[[${cat.name}]]</option>
										</th:block>

									</select>

								</div>

								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">
										Cloth Type</label> <input type="text" class="form-control" required
										name="colthType" th:value="${book.colthType}">

								</div>

								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">
										Price</label> <input type="number" class="form-control" required
										name="price" th:value="${book.price}">
								</div>

								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">
										Image</label> <input type="file" class="form-control"  name="img">
									
									<div class="mt-2">
									<img alt="" th:src="@{'../../book_img/'+${book.imgName}}" width="70px" height="70px">
									<strong>uploaded Img: [[${book.imgName}]]</strong>
									</div>
								
								</div>


								<button class="btn bg-custom text-white col-md-12" type="submit">Submit
								</button>

								<div class="text-center p-3"></div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>