<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="emp/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<section>

		<div class="text-center">
			<img alt="" src="../img/emp5.png"
				style="width: 100%; height: 50vh">
		</div>


		<div class="container">
			<p class="text-center fs-1">Employee Dashboard</p>
			<div class="row p-4">

				

				

				<div class="col-md-4 mt-3">
					<a class="text-decoration-none bg-custom" href="/emp/viewAssignProject">
						<div class="card paint-card">
							<div class="card-body text-center">
								<i class="fa-solid fa-bars-progress fa-2x"></i><br>
								<p class="fs-1">Project</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 mt-3">
					<a class="text-decoration-none bg-custom" href="/emp/leave">
						<div class="card paint-card">
							<div class="card-body text-center">
								<i class="fa-solid fa-clipboard-question fa-2x"></i><br>
								<p class="fs-1">Leave</p>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-3">
					<a class="text-decoration-none bg-custom" href="/emp/helpdesk">
						<div class="card paint-card">
							<div class="card-body text-center">
								<i class="fa-solid fa-circle-info fa-2x"></i><br>
								<p class="fs-1">Helpdesk</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="bg-custom p-2 " style="margin-top: 150px">
			<p class="text-center text-white">@copyright reserverd by
				empsystem.com</p>
		</div>
	</section>
</body>
</html>