<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid bg-light p-2">
			<div class="row">
				<div class="col-md-8 offset-md-2">

					<div class="card paint-card">
						<div class="card-header">
							<h3 class="text-center text-primary">Signup</h3>
						</div>
						<div class="card-body">


							<div th:if="${session.succMsg}" class="text-center">
								<h5 class="text-success fs-3" th:text="${session.succMsg}"></h5>
								<th:block th:text="${#session.removeAttribute('succMsg')}"></th:block>
							</div>

							<div th:if="${session.errorMsg}" class="text-center">
								<h5 class="text-danger fs-3" th:text="${session.errorMsg}"></h5>
								<th:block th:text="${#session.removeAttribute('errorMsg')}"></th:block>
							</div>


							<form novalidate id="userRegister" action="createUser"
								method="post">
								<div class="row mt-1">
									<div class="col">
										<label for="name" class="form-label">Full Name </label> <input
											type="text" class="form-control form-control-sm" id="name" name="name"
											required>
									</div>

									<div class="col">
										<label for="email" class="form-label">Email ID </label> <input
											id="emailid" type="email" class="form-control form-control-sm" name="email"
											required>
									</div>

									<div class="col">
										<label for="password" class="form-label">Password </label> <input
											type="password" class="form-control form-control-sm" id="psw" name="password">
									</div>

								</div>
								<div class="row mt-3">


									<div class="col">
										<label for="confirmpassword" class="form-label">Confirm
											Password </label> <input type="password" class="form-control form-control-sm"
											name="comfirmPassword">
									</div>

									<div class="col">
										<label for="mobno" class="form-label">Mobile No </label> <input
											type="text" class="form-control form-control-sm" id="mobno" name="mobNo"
											required>
									</div>

									<div class="col">
										<label for="primaryskill" class="form-label">Primary
											Skill </label> <input type="text" class="form-control form-control-sm"
											id="primaryskill" name="primarySkill" required>
									</div>

								</div>

								<div class="form-group mt-3">
									<label for="experince" class="form-label">Experience </label> <input
										type="text" class="form-control form-control-sm" id="experince"
										name="experience" required>
								</div>

								<div class="form-group mt-2">
									<label for="last name" class="form-label">Address </label>
									<textarea rows="3" cols="" class="form-control form-control-sm" name="address"></textarea>
								</div>

								<button type="submit"
									class="btn btn-primary col-md-6 offset-md-3">Register</button>
								<br>

							</form>

						</div>
					</div>

				</div>
			</div>
		</div>

	</section>
</body>
</html>